* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
  padding: 30px;
}

p, h1, h2, h3 {
  color: rgb(34, 22, 51)
}
h1, h2, h3 {
  font-family: "AR One sans", "Roboto", sans-serif;
}
p {
  font-family:  Arial, Helvetica, sans-serif;
}
       /*CSS menu*/

.logo-container {
  color: rgb(165, 141, 141);
  background-color: rgb(244, 243, 241);
  margin-left: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 5px solid rgb(152, 122, 50);
  

}
.logo-name {
  font-size: 4em;
  margin: 16px 0 12px -8px;
  text-transform: uppercase;

}
.logo {
  display: flex;
  
}

.logo-name span {
  color:rgb(152, 122, 50);
}



.nav-menu > ul{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  list-style: none;
}
li a{
  list-style: none;
  text-decoration: none;
  color: rgb(123, 116, 116);
  font-weight: 600;
  font-size: 1.9em; 
  margin-left: 1.5em;
}



                 /*  CSS header   */

 .banner-container {
  display: flex;
  width: 100%;
 }


.banner > img{
  border-radius: 20px;
  width: 60%;
  margin: 32px 24px;
}

@media only screen and (max-width: 900px) {
  .banner img {
    display: none;
  }
  @media only screen and (max-width: 900px) {
    .start-header {
      margin-left: 50px;
    }
  }
  
}


.start-header {
  align-self:center;
}


.start-header h2 {
  font-size: 3.5em;
  margin-bottom: 30px;
  font-family: "AR One Sans", sans-serif;
  text-decoration: underline;
  text-align: left;

}
.start-header p {
  font-size: 1.8em;
  margin-bottom: 30px;
  font-family: "Roboto", serif;
  text-align: left;
  
}
.start-header .button-start {
  width: 60%;
  padding: 8px;
  font-family: "Roboto", serif;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: rgb(107, 148, 177);
  color:rgb(230, 227, 235);
  border-radius: 5px;
  border: none;
  margin-right: 250px;
  
}
.button-start:hover {
  background-color: rgb(78, 58, 141);
  transition-property: background-color;
  transition-duration: 2s;
}
.button-start a {
  color:rgb(235, 214, 187);
  text-decoration: none;
}


    /*  Main Body   */

.main-container {
  background-color: bisque;
  width: 100%;
}
.container1 {
  display: flex;
}

.main-img {
  width: 60%;
  display: flex;
  flex-direction: column;

}
@media only screen and (max-width: 600px) {
  .imgOne {
    display: none;
  }
}

.imgOne {
  display: flex;
  margin: 24px 32px;
  border-radius: 20px;
  margin-bottom: 32px;
}
.text-img1{
  color: rgb(35, 34, 34);
  font-size: 1.5em;
  
  width: 60%;
  align-self: center;
  
}
.text-img1 h2 {
  font-family: "Roboto", serif;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.text-img1 p span{
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.1em;

}
aside p {
  text-align: left;
  margin-top: 35px;
}

     /*  Main right side  */

.img-and-text {
  font-size: 1.5em;
  display: flex;
  width: 60%;
  align-items: center;
  margin: 32px 0 32px 24px;
} 
.img-and-text h3 {
  font-size: 1.4em;
  font-family: "AR One Sans", sans-serif;
  color: rgb(35, 34, 34);
  
}
.img-and-text p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.img-right {
  border-radius: 10px;
}

.text-img2 {
  margin-left: 40px;
}


.campus {
  background-color: bisque;
}

.date, .guest {
  
  border-radius: 10px;
}


    /*COURSES IMAGES CSS*/

.title-courses {
  padding: 20px;
  font-size: 3em;
  font-weight: bolder;
  word-spacing: 0.4em;
  letter-spacing: 0.1em;
  font-family: "AR One Sans", sans-serif;;
}
.container-courses {
  background-color:  rgb(132, 172, 201);
  margin-bottom: 2rem;
}

.courses {
  display: flex;
  justify-content: space-between;
  
  
}
.courses2 {
  display: flex;
  justify-content: space-around;
} 

.img3 {
  margin: 32px 15px;
  border-radius: 10px;
  width: 80%;
}
.container-courses h2 {
  font-size: 2.5em;
  font-family: "AR One Sans", sans-serif;
}
.container-courses h3 {
  font-family: "AR One Sans", sans-serif;
  font-size: 1.7em;
}
.container-courses p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  margin-bottom: 4em;
}

      /*  THESIS EXHIBIT  */
.video-title {
        margin-top: 4rem;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 800;
        
      }
      

.thesis{
  display: flex;
  margin: 24px 32px;
  width: 100%;
  
}

.video-urban, .thesis-text-left {
  width: 60%;
  display: block;
  background-color: rgb(148, 180, 203);
  padding: 2rem;
}


.thesis-img-text {
  display: flex;

}

.thesis-right {
  margin-right: 200px;
  margin-left: -70px;
}

.thesis-right img {
  margin-right: 2em;
  margin-bottom: 1em;
  border-radius: 1em;
}
.thesis-right .showcase {
  
  align-self: center;
}
.pie {
  display: flex;
  justify-content: space-between;
  margin: 64px 32px 24px 32px;
  
}
.terms li {
  list-style: none;
  margin-right: 12px;
  
}
ul {
  display: flex;
  
}








